.agendamentoCard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 221px;
  height: 98px;
  border: none;
  box-shadow: 0 5px 10px #c9c9c9;
  border-radius: 8px;
  padding: 5px;
  margin: 10px 0 15px 20px;
}

.cardImage {
  width: 110px;
  height: 87px;
  object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
  border-radius: 5px; /* Arredonda apenas o canto superior esquerdo *//* Arredonda apenas o canto inferior esquerdo */
}



.cardDetails h2 {
  margin: 3px;
  margin-left: 2px;
  color: var(--color--4);
  font-size: 1em;
}

.cardDetails p {
  margin: -3px;
  margin-left: 5px;
  font-size: 0.7em;
  color: var(--color--4);
}

.cardDetails button {
  margin-left: auto; /* Move o botão para a direita */
  background: transparent;
  border: none;
  cursor: pointer;
}

.cardDetails svg {
  color: #ff6b81;
}

.cardDetails svg:hover {
  background-color: #ff6b81;
}