
/* Estilos individuais para cada cartão */
.agendamentoRow {
  display: flex;
  justify-content: center;
}

.agendamentoCard {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente no centro */
  gap: 10px; /* Espaço entre a imagem e os detalhes do cartão */
  padding: 5px;
  margin-left: 10px;
  box-shadow: 0 2px 8px var(--color--2);
  -webkit-overflow-scrolling: touch; /* Melhora a rolagem em dispositivos touch */
  border-radius: 15px;
  background: var(--color--1);
  overflow: hidden; /* Garante que nada saia do contorno arredondado */
  font-size: smaller;
}

.cardImage {
  width: 120px;
  height: 100px;
  object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
  border-radius: 15px; /* Arredonda apenas o canto superior esquerdo *//* Arredonda apenas o canto inferior esquerdo */
}


.cardDetails h2, .cardDetails p {
  margin: 2px 0;
  color: var(--color--4);
}

.cardDetails button {
  margin-left: auto; /* Move o botão para a direita */
  background: transparent;
  border: none;
  cursor: pointer;
}

.cardDetails svg {
  color: #ff6b81;
}

.cardDetails svg:hover {
  background-color: #ff6b81;
}