@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fundoCinza {

    width: 100%;
    height: 190px;
    background-color: var(--color--3);
    margin-top: -12vh;
    z-index: -1; /* Ajuste se necessário */
}

.home {
    height: 120vh;
    position: relative;
}

.userName {
  display: flex;
  color: var(--color--1);
  margin-left: 20px;
  font-weight: 500;
  font-size: 1.3em;
}

.p {
  color: var(--color--1);
  display: flex;
  margin-left: 20px;
  margin-bottom: -25px;
  padding-top: 30px;
}


/* Correção para a tag h3 */
.h3 {
  padding: 0 0 0 10px;
    color: var(--color--3);
    font-size: large;
    font-weight: initial;
    margin-left: 10px;
}

.AgendamentoContainer {
    margin-top: 50px;
}

.agendamentosContainer {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.buttonPayment {
    position: fixed; /* Fixa o botão na tela */
    bottom: 0; /* Coloca no fundo da página */
    left: 50%; /* Centraliza o botão horizontalmente */
    width: 100%;
    transform: translateX(-50%); /* Ajusta a centralização */
    padding: 25px 20px; /* Espaçamento interno */
    border: none; /* Sem borda */
    background: var(--color-rgb);   
    color: white; /* Cor do texto */
    border-radius: 20px 20px 0 0; /* Bordas arredondadas na parte superior */
    font-size: 1.3em; /* Tamanho do texto */
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25); /* Sombra para dar destaque */
    z-index: 30; /* Índice z para garantir que fique acima dos outros elementos */
    display: flex;
  }
  
  .buttonPayment:hover {
    background-color: #FFD700; /* Cor de fundo ao passar o mouse */
    cursor: pointer; /* Cursor do mouse */
  }
  
  /* Ícone dentro do botão */
  .buttonPayment svg {
    margin-left: 90px; /* Espaçamento do ícone para o texto */
    font-size: 1.6em;
  }
.confirmarAgendamento {
    position: fixed; /* Fixa o botão na tela */
    right: 20px; /* 20 pixels da direita */
    bottom: 80px; /* 80 pixels do fundo, ajuste conforme a altura da sua navbar */
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: var(--color--5);
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    z-index: 999; /* Garante que fique acima de outros elementos */
    transition: background-color 0.5s ease; /* Transição suave de cor */
  }
  
  .confirmarAgendamento:hover {
    background-color: var(--color-btn); /* Mude para a cor de sucesso ao passar o mouse */
  }
  

  .emptyMessage {
    text-align: center;
    font-size: 1.5em; /* Ajuste o tamanho do texto conforme necessário */
    color: var(--color--2); /* Escolha uma cor do seu tema */
    margin: 20px 0; /* Ajuste o espaçamento conforme necessário */
  }
  
  .emptyMessage p {
    margin-bottom: 10px; /* Espaço entre o texto e o ícone */
  }


  @media (min-width: 768px) {
    .buttonPayment {
      position: fixed;
      bottom: 0;
      left: 50%;
      width: 500px;
      transform: translateX(-50%);
      padding: 15px 20px; /* Ajuste para acomodar o novo layout */
      border: none;
      background: var(--color-rgb);
      color: white;
      border-radius: 20px 20px 0 0;
      font-size: 1.3em;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
      box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);
      display: flex;
      align-items: center; /* Centraliza os itens */
      justify-content: center; /* Centraliza verticalmente */
  }
  
  .buttonPayment:hover {
      background-color: #FFD700;
      cursor: pointer;
  }
  
  /* Novo estilo para o ícone */
  .buttonPayment svg {
      margin-left: 130px; /* Espaçamento ajustado entre o texto e o ícone */
      font-size: 1.5em; /* Tamanho do ícone */
  }
  
  /* Estilização do parágrafo para a instrução de pagamento */
  .paymentInstruction {
      font-size: 0.6em; /* Tamanho do texto menor */
      font-weight: normal; /* Peso do texto normal */
      margin-top: -5px; /* Espaço entre o texto do botão e o parágrafo */
  }

  }

