.settings {
    text-align: center;
    max-width: 960px; /* Ajuste conforme necessário */
    margin: auto;
    align-items: center;
  }


.adicionarPayment {
  position: fixed; /* Fixa o botão na tela */
  top: 0;
  left: 50%; /* Centraliza o botão horizontalmente */
  width: 100%;
  transform: translateX(-50%); /* Ajusta a centralização */
  padding: 22px 20px; /* Espaçamento interno */
  border: none; /* Sem borda */
  border-radius: 0 0 20px 20px ; /* Bordas arredondadas na parte superior */
  background: var(--color-rgb);   
  color: white; /* Cor do texto */
  font-size: 1.5em; /* Tamanho do texto */
  font-weight: 600;
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25); /* Sombra para dar destaque */
  display: flex;
  justify-content: end;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 15px 30px;
  margin: 3px;
  border-bottom: 1px solid var(--color--2);
  color: var(--color--3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.button a { 
  color: red;
}