.links_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.links_list li {
    padding: 0.5em;
}

.links_list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color--5);
    font-size: 0.9rem; /* Ajuste conforme necessário */
}

.icon {
    font-size: 20px; /* Tamanho dos ícones */
    color: var(--color--3);
}

.active {
    color: var(--color--2);
    background-color: var(--color--5);
    padding: 10px;
    border-radius: 10px;
}

.activePlus {
    color: var(--color--2);
    border-radius: 10px;
}

.logoutButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.brand {
    font-family: 'Lobster', cursive; /* Mudança de fonte */
    font-size: 1.5em; /* Ajuste o tamanho conforme necessário */
    display: flex; /* Garante que o texto esteja alinhado com o botão */
    align-items: center; /* Centraliza verticalmente o texto com o botão */
    color: var(--color--5);
    margin-right: auto; /* Garante que o texto fique à esquerda e o botão à direita */
    margin-left: 10px;
    margin-top: 5px;
}

.logoutButton {
    font-size: 1.1em; /* Ajuste conforme necessário */
    margin-left: 40px; /* Espaço entre o texto e o botão */
    display: flex;
}

.brand, .logoutButton {
    color: var(--color--5);
    text-decoration: none;
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0; /* Garante que a navbar esteja centralizada horizontalmente */
        width: 80%; /* Define a largura da navbar */
        margin: 0 auto; /* Centraliza a navbar horizontalmente */
        margin-bottom: 15px;
        box-shadow: 0 -2px 20px #e0e0e0;
        background-color: var(--color-navbar);
        border-radius: 20px;
        z-index: 10;
    }

    .links_list {
        flex-direction: row;
        justify-content: space-around;
    }

    .links_list li a {
        flex-direction: column; /* Ícones acima do texto para melhor visibilidade em dispositivos móveis */
    }

    /* Remova a alteração de direção do flex de .headerContent para evitar empilhar a marca e o botão de sair verticalmente */
}
