.create_post {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color--5);
  margin-bottom: 20px;
  margin-top: -30px;
}

.form {
width: 100%;
}

.create_post textarea {
  width: 100%;
  border: none;
  padding: 12px;
  margin-bottom: 10px;
  font-size: large;
}

.create_post textarea {
  width: 100%;
  border: none;
  padding: 12px;
  padding-bottom: 300px;
  margin-bottom: 10px;
  resize: none; 
  font-size: large;
}

.create_post .iconButton {
  background-color: transparent;
  border: none;
  color: var(--color--4);
  cursor: pointer;
  font-size: 20px; /* Tamanho dos ícones */
  margin-right: 10px;
}

.create_post .iconButton:hover {
  color: var(--color--4) /* Cor dos ícones ao passar o mouse */
}

.create_post input[type="text"],
.create_post input[type="file"] {
  color: var(--color--2);
  width: 100%;
  border: none;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background-color: var(--color--3);
  color: var(--color--1);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: #00cb87;
}